
section {
    height: 100vh;
}

.start {
    display: flex;
    justify-content: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgba(69, 68, 68, 0.6);
    border-radius: 50%;
}

.TT-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgba(69, 68, 68, 0.6);
    border-radius: 50%;
}
